.green {
    color:#83b35b!important;
    font-weight: bold;
}

.red {
  color:#e51616!important;
  font-weight: bold;
}

.blue {
  color:#0033CC!important;
  font-weight: bold;
}

.water {
    color:#5bc0de!important;
}