<div>
    <div class="row">
        <div class="col-md-9">
            <table class="table cointainer-fluid">

                <tr ng-repeat="cells in board.cells">
                    <td  style="width:{{cellWidth}}%;" ng-repeat="cell in cells" ng-class="cell.classType"  ng-disabled="!cell.isBomb && !cell.blocked" class="btn " ng-click="board.playCell(cell, player);sendBoard(); ">
                            <span ng-hide="cell.blocked" ng-class="cell.fontColor" >
                                {{cell.label || cell.value}}
                            </span>

                            <span ng-hide="!cell.blocked" >
                                ·
                            </span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-3">
            <p>
                Marcador
            </p>

            <p>
                Bombas {{board.totalBombs}}
            </p>

            <p>
                Player 1: {{players.p1.totalPoints}}
            </p>

            <p>
                Player 2: {{players.p2.totalPoints}}
            </p>
        </div>
    </div>


</div>
