<div ng-init="getCounter()">




    <div class="row">


        <div class="col-md-6 col-xs-12 jumbotron" >

            <h1>
                <center>
                    {{counter}}
                </center>
            </h1>

            <h3>
                <center>
                    Días para recuperar mi identidad
                </center>
            </h3>

        </div>

        <div class="col-md-6 col-xs-12 jumbotron" >
            <h1>
                <center>
                    {{60-counter}}
                </center>
            </h1>

            <h3>
                <center>
                    Días sin bollito
                </center>
            </h3>
        </div>

    </div>

</div>